# Install PyTorch CUDA 12.8 wheels with:
# pip install torch==2.9.1 torchvision==0.24.1 torchaudio==2.9.1 --index-url https://download.pytorch.org/whl/cu128
torch==2.9.1+cu128
torchvision==0.24.1+cu128
torchaudio==2.9.1+cu128
triton-windows==3.7.0.post26
numpy
matplotlib
pandas
pyyaml
